<footer id="main-footer">
  <div class="container">
    <img src="/images/jobsquare-logo.png" alt="" />
    <ol class="socials">
      <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
      <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
      <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
      <a href=""><i class="fa-brands fa-youtube fa-2x"></i></a>
    </ol>
    <p id="copyright">all rights recived &copy; JobSquare inc.</p>
  </div>
</footer>
