<div class="backdrop"></div>
<header id="main-header">
  <div class="container">
    <a href="/">
      <img src="/images/jobsquare-logo.png" alt="" id="logo" />
    </a>
    <nav id="main-nav">
      <ol id="nav-items">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/jobs">Browse</a></li>
        <li class="nav-item"><a href="/post">Post</a></li>
        <li class="nav-item"><a href="/about">About</a></li>
      </ol>
    </nav>
    <button class="hamburger-menu desktop-hamburger-menu">
      <i class="fa fas fa-bars fa-2x"></i>
    </button>
  </div>
</header>
