<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./includes/head") %>
  </head>
  <body>
    <div class="backdrop"></div>
    <%- include ("./includes/header") %> <%- include ("./includes/side-drawer")
    %>
    <main>
      <div class="container">
        <h2 class="about-title">Page not found</h2>
        <p class="success-msg">
          Unfortunately, we could not find the page you are looking for.
        </p>
      </div>
    </main>

    <%- include ("./includes/footer") %>
  </body>
</html>
