<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./includes/head") %>
  </head>
  <body>
    <%- include ("./includes/header") %> <%- include ("./includes/side-drawer")
    %>

    <main>
      <div class="container">
        <h2 class="about-title">About JobSquare</h2>
        <p class="about-text">
          JobSquare is a platform wher career seeking enthusiasts, bussiness
          people, Enterpruners and investors meet! anyone can post any kind of
          work ranging from enterprise nature to small private firms to startups
          and even personal tasks can be posted and accessed on the platform.
          The platform is absolutely free to use and of course , we value your
          privacy! we never share your data with any third party.
        </p>
      </div>
    </main>
    <%- include ("./includes/footer") %>
  </body>
</html>
