<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Jobsquare | where jobs find you!</title>
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <a href="./index.html">
          <img src="/public/images/jobsquare-logo.png" alt="" id="logo" />
        </a>
        <nav class="main-nav">
          <ol id="nav-items">
            <li class="nav-item"><a href="">Home</a></li>
            <li class="nav-item"><a href="">Browse</a></li>
            <li class="nav-item"><a href="">Post</a></li>
            <li class="nav-item"><a href="">About</a></li>
          </ol>
        </nav>
      </div>
    </header>
  </body>
</html>
