<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Jobsquare | where jobs find you!</title>
  </head>
  <body>
    <div class="backdrop"></div>
    <header id="main-header">
      <div class="container">
        <a href="./index.html">
          <img src="/public/images/jobsquare-logo.png" alt="" id="logo" />
        </a>
        <nav id="main-nav">
          <ol id="nav-items">
            <li class="nav-item"><a href="/views/index.html">Home</a></li>
            <li class="nav-item"><a href="/views/browse.html">Browse</a></li>
            <li class="nav-item"><a href="/views/post.html">Post</a></li>
            <li class="nav-item"><a href="/views/about.html">About</a></li>
          </ol>
        </nav>
        <button class="hamburger-menu">
          <i class="fa fas fa-bars fa-2x"></i>
        </button>
      </div>
    </header>
    <main>
      <section id="browse-cta">
        <div class="container">
          <article class="cta-article box">
            <div class="article-content">
              <div class="article-text">
                <h2 class="article-title">Find something you can fit in</h2>
                <p class="article-body">
                  Browse our large collection of jobs spanning across
                  professions. our list includes jobs related to health and
                  medical sector, enginnering and information technology,
                  financial and accounting, law, tutoring, managment and even
                  short term contracts and more. Dive in to our ecosystem and
                  build your career now!
                </p>
              </div>

              <img src="/public/images/search.svg" alt="" class="article-img" />
            </div>

            <a href="/views/browse.html" class="btn btn-cta">Explore</a>
          </article>
        </div>
      </section>
      <section id="post-cta">
        <div class="container">
          <article class="cta-article box">
            <div class="article-content">
              <div class="article-text">
                <h2 class="article-title">Meet enthusiastic workers</h2>
                <p class="article-body">
                  Do you have a task you want completed? do you have an open
                  position at your office? JobSquare is the place to meet
                  skilled people with different backgrounds, skillsets and
                  talents. you can post any job here and open your doors to
                  thousands of enthusiastic people
                </p>
              </div>

              <img src="/public/images/search.svg" alt="" class="article-img" />
            </div>

            <a href="/views/post.html" class="btn btn-cta">Post Position</a>
          </article>
        </div>
      </section>
    </main>

    <footer id="main-footer">
      <div class="container">
        <img src="/public/images/jobsquare-logo.png" alt="" />
        <ol class="socials">
          <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
          <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
          <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
          <a href=""><i class="fa-brands fa-youtube fa-2x"></i></a>
        </ol>
        <p id="copyright">all right recived &copy; JobSquare inc.</p>
      </div>
    </footer>
  </body>
</html>
