<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./includes/head") %>
  </head>
  <body>
    <%- include ("./includes/header") %> <%- include ("./includes/side-drawer")
    %>

    <main>
      <section id="browse-cta">
        <div class="container">
          <article class="cta-article box">
            <div class="article-content">
              <div class="article-text">
                <h2 class="article-title">Find something you can fit in</h2>
                <p class="article-body">
                  Browse our large collection of jobs spanning across
                  professions. our list includes jobs related to health and
                  medical sector, enginnering and information technology,
                  financial and accounting, law, tutoring, managment and even
                  short term contracts and more. Dive in to our ecosystem and
                  build your career now!
                </p>
              </div>

              <img src="/images/search.svg" alt="" class="article-img" />
            </div>

            <a href="/jobs" class="btn btn-cta">Explore</a>
          </article>
        </div>
      </section>
      <section id="post-cta">
        <div class="container">
          <article class="cta-article box">
            <div class="article-content">
              <div class="article-text">
                <h2 class="article-title">Meet enthusiastic workers</h2>
                <p class="article-body">
                  Do you have a task you want completed? do you have an open
                  position at your office? JobSquare is the place to meet
                  skilled people with different backgrounds, skillsets and
                  talents. you can post any job here and open your doors to
                  thousands of enthusiastic people
                </p>
              </div>

              <img src="/images/post.svg" alt="" class="article-img" />
            </div>

            <a href="/post" class="btn btn-cta">Post Position</a>
          </article>
        </div>
      </section>
    </main>

    <%- include ("./includes/footer") %>
  </body>
</html>
