<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Jobsquare | where jobs find you!</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <div class="backdrop"></div>
    <header id="main-header">
      <div class="container">
        <a href="./index.html">
          <img src="/public/images/jobsquare-logo.png" alt="" id="logo" />
        </a>
        <nav id="main-nav">
          <ol id="nav-items">
            <li class="nav-item"><a href="/views/index.html">Home</a></li>
            <li class="nav-item"><a href="/views/browse.html">Browse</a></li>
            <li class="nav-item"><a href="/views/post.html">Post</a></li>
            <li class="nav-item"><a href="/views/about.html">About</a></li>
          </ol>
        </nav>
        <button class="hamburger-menu">
          <i class="fa fas fa-bars fa-2x"></i>
        </button>
      </div>
    </header>
    <main>
      <div class="container">
        <form action="">
          <div class="form-control">
            <label for="jobtitle">Job Title</label>
            <input
              type="text"
              id="jobtitle"
              name="jobtitle"
              placeholder="e.g financial manager"
            />
          </div>
          <div class="form-control">
            <label for="companyname">Company Name</label>
            <input
              type="text"
              id="companyname"
              name="companyname"
              placeholder="e.g example Inc."
            />
          </div>
          <div class="form-control">
            <label for="location">Job Location</label>
            <input
              type="text"
              id="location"
              name="location"
              placeholder="e.g paris, abc street"
            />
          </div>
          <div class="form-control">
            <label for="jobdescription">Job Description</label>
            <textarea
              name="jobdescription"
              id="jobdescription"
              cols="30"
              rows="6"
            ></textarea>
          </div>
          <div class="form-control">
            <label for="salary">Salary</label>
            <input type="number" id="salary" name="salary" />
          </div>
          <div class="form-control">
            <label for="contact">Phone number</label>
            <input type="tel" id="contact" name="contact" />
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
          </div>
          <div class="form-action">
            <button type="submit" class="btn submit">Post</button>
            <button type="reset" class="btn cancel">Cancel</button>
          </div>
        </form>
      </div>
    </main>

    <footer id="main-footer">
      <div class="container">
        <img src="/public/images/jobsquare-logo.png" alt="" />
        <ol class="socials">
          <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
          <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
          <a href=""><i class="fa-brands fa-linkedin fa-2x"></i></a>
          <a href=""><i class="fa-brands fa-youtube fa-2x"></i></a>
        </ol>
        <p id="copyright">all right recived &copy; JobSquare inc.</p>
      </div>
    </footer>
  </body>
</html>
