<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./includes/head") %>
  </head>

  <body>
    <%- include ("./includes/header") %> <%- include ("./includes/side-drawer")
    %>
    <main>
      <div class="container">
        <form action="/post" method="POST">
          <div class="form-control">
            <label for="jobtitle">Job Title</label>
            <input
              type="text"
              id="jobtitle"
              name="jobtitle"
              placeholder="e.g financial manager"
            />
          </div>
          <div class="form-control">
            <label for="companyname">Company Name</label>
            <input
              type="text"
              id="companyname"
              name="companyname"
              placeholder="e.g example Inc."
            />
          </div>
          <div class="form-control">
            <label for="location">Job Location</label>
            <input
              type="text"
              id="location"
              name="location"
              placeholder="e.g paris, abc street"
            />
          </div>
          <div class="form-control">
            <label for="jobdescription">Job Description</label>
            <textarea
              name="jobdescription"
              id="jobdescription"
              cols="30"
              rows="6"
            ></textarea>
          </div>
          <div class="form-control">
            <label for="salary">Salary</label>
            <input type="number" id="salary" name="salary" />
          </div>
          <div class="form-control">
            <label for="contact">Phone number</label>
            <input type="tel" id="contact" name="contact" />
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
          </div>
          <div class="form-action">
            <button type="submit" class="btn submit">Post</button>
            <button type="reset" class="btn cancel">Cancel</button>
          </div>
        </form>
      </div>
    </main>

    <%- include ("./includes/footer") %>
  </body>
</html>
