:root {
  --gray-0: #f8f9fa;
  --size-5: 1.5rem;
  --size-3: 1rem;
  --size-7: 2rem;
  --border-size-1: 1px;
  --gray-2: #e9ecef;
  --radius-3: 1rem;
  --shadow-4: 
    0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
  --font-weight-6: 600;
  --radius-4: 2rem;
  --indigo-12: #21307a;
  --blue-3: #74c0fc;
  --blue-1: #d0ebff;
  --size-12: 10rem;
  --size-1: .25rem;
  --indigo-10: #2f44ad;
  --stone-1: #f2f4f6;
  --size-10: 5rem;
  --font-size-2: 1.1rem;
  --font-lineheight-3: 1.5;
  --green-0: #ebfbee;
  --gray-7: #495057;
  --font-size-5: 2rem;
  --font-weight-8: 800;
  --size-2: .5rem;
  --blue-10: #145591;
  --font-size-3: 1.25rem;
  --gray-4: #ced4da;
  --radius-2: 5px;
  --red-3: #ffa8a8;
  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--gray-0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
button {
  font: inherit;
}

button:hover,
input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

/* utility classes */

.container {
  padding: var(--size-5);
  max-width: min(70rem, 90%);
  margin-inline: auto;
}

.box {
  margin: var(--size-3);
  padding-inline: var(--size-7);
  padding-block: var(--size-5);
  border: var(--border-size-1) var(--gray-2) solid;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
}

.btn {
  padding-inline: var(--size-7);
  padding-block: var(--size-3);
  font-weight: var(--font-weight-6);
  border-radius: var(--radius-4);
  color: var(--indigo-12);
}

.btn-cta {
  background: var(--blue-3);
  margin-top: var(--size-5);
}

.btn:hover {
  transform: translateY(-0.3rem);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

/* ----------------------------------------------------------------------------------------------------------- */

header {
  background-color: var(--blue-1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#logo,
#main-footer img {
  width: var(--size-12);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-items {
  display: flex;
}

.nav-item {
  margin-inline: var(--size-3);
}

.nav-item a,
.socials a,
.mobile-nav-item a {
  font-weight: var(--font-weight-6);
  padding-block: var(--size-1);
  padding-inline: var(--size-5);
  color: var(--indigo-10);
}

.nav-item a:hover,
.socials a:hover,
.mobile-nav-item a:hover {
  background-color: var(--stone-1);
  border-radius: var(--radius-3);
}

.hamburger-menu {
  background: inherit;
  border: none;
  display: none;
  cursor: pointer;
}

.hamburger-menu i {
  color: var(--indigo-10);
}

#side-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50vh;
  background-color: var(--blue-1);
  z-index: 20;
  display: none;
}

.mobile-hamburger-menu {
  -webkit-margin-start: var(--size-7);
          margin-inline-start: var(--size-7);
}

#mobile-nav-items {
  -webkit-margin-before: var(--size-10);
          margin-block-start: var(--size-10);
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  padding-inline: var(--size-10);
}

#main-footer {
  -webkit-margin-before: var(--size-10);
          margin-block-start: var(--size-10);
  background: var(--blue-1);
}

#main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copyright {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-3);
}

.socials a {
  padding-inline: var(--size-1);
}

@media (max-width: 48rem) {
  #main-nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  #main-footer .container {
    flex-direction: column;
    gap: var(--size-3);
  }
}

#browse-cta,
#post-cta {
  -webkit-padding-before: var(--size-10);
          padding-block-start: var(--size-10);
}

.cta-article {
  background-color: var(--green-0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-content {
  display: flex;
  align-items: center;
  color: var(--gray-7);
}

.article-text {
  flex: 1;
}

.article-title {
  color: var(--indigo-10);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-8);
  -webkit-margin-after: var(--size-3);
          margin-block-end: var(--size-3);
}

.article-body {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-3);
}

.article-img {
  flex: 1;
  overflow: hidden;
}

@media (max-width: 48rem) {
  #browse-cta,
  #post-cta {
    -webkit-padding-before: var(--size-7);
            padding-block-start: var(--size-7);
  }

  .article-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-7);
  }

  .article-img {
    width: 100%;
  }
}

.job {
  -webkit-margin-before: var(--size-10);
          margin-block-start: var(--size-10);
  background-color: var(--green-0);
  color: var(--gray-7);
}

.job-title {
  font-size: var(--font-size-5);
  margin-bottom: var(--size-2);
}

.job-source {
  margin-bottom: var(--size-2);
}

.job-location {
  margin-bottom: var(--size-5);
}

.job-description {
  font-size: var(--font-size-2);
  margin-bottom: var(--size-5);
}

.job-salary {
  font-size: var(--font-size-2);
  font-style: italic;
  margin-bottom: var(--size-7);
}

.btn-read {
  border: var(--border-size-1) var(--blue-10) solid;
}

.btn-read:hover {
  background-color: var(--blue-3);
  transform: scale(0.2);
}

form {
  -webkit-margin-before: var(--size-10);
          margin-block-start: var(--size-10);
  max-width: min(90%, 30rem);
  margin-inline: auto;
  padding-inline: var(--size-7);
  padding-block: var(--size-5);
  border: var(--border-size-1) var(--gray-2) solid;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  background-color: var(--green-0);
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  -webkit-margin-after: var(--size-5);
          margin-block-end: var(--size-5);
}

label {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
}

input,
textarea {
  font-size: var(--font-size-2);
  padding-block: var(--size-1);
  padding-inline: var(--size-3);
  border: 1px solid var(--gray-4);
  border-radius: var(--radius-2);
  color: var(--gray-7);
}

button {
  border: var(--border-size-1) var(--blue-10) solid;
}

.submit:hover {
  background-color: var(--blue-3);
}

.cancel:hover {
  background-color: var(--red-3);
}

.about-title,
.success-title {
  -webkit-margin-before: var(--size-10);
          margin-block-start: var(--size-10);
  color: var(--indigo-10);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-8);
  -webkit-margin-after: var(--size-3);
          margin-block-end: var(--size-3);
}

.about-text,
.success-msg {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-3);
}

@media (prefers-color-scheme: dark) {

  :root {
    --shadow-color: 220 40% 2%;
    --shadow-strength: 25%;
  }
}
