.about-title,
.success-title {
  margin-block-start: var(--size-10);
  color: var(--indigo-10);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-8);
  margin-block-end: var(--size-3);
}

.about-text,
.success-msg {
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-3);
}
