*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
}

input,
button {
  font: inherit;
}

button:hover {
  outline: none;
}
/* utility classes */
.container {
  padding: var(--size-5);
  max-width: min(70rem, 90%);
  margin-inline: auto;
}

/* ----------------------------------------------------------------------------------------------------------- */

#logo {
  width: var(--size-12);
}

header .container {
  background-color: var(--cyan-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav {
}

#nav-items {
  display: flex;
}

.nav-item {
  margin-inline: var(--size-3);
}

.nav-item a {
  font-weight: var(--font-weight-6);
  padding-block: var(--size-1);
  padding-inline: var(--size-5);
  color: var(--indigo-10);
}

.nav-item a:hover {
  background-color: var(--green-3);
  border-radius: var(--radius-3);
}
