*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--gray-0);
}

input,
button {
  font: inherit;
}

button:hover {
  outline: none;
}
/* utility classes */
.container {
  padding: var(--size-5);
  max-width: min(70rem, 90%);
  margin-inline: auto;
}

.box {
  margin: var(--size-3);
  padding-inline: var(--size-7);
  padding-block: var(--size-5);
  border: var(--border-size-1) var(--gray-2) solid;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
}

.btn {
  padding-inline: var(--size-7);
  padding-block: var(--size-3);
  font-weight: var(--font-weight-6);
  border-radius: var(--radius-4);
  color: var(--indigo-12);
}

.btn-cta {
  background: var(--blue-3);
}

.btn:hover {
  transform: translateY(-0.3rem);
}
/* ----------------------------------------------------------------------------------------------------------- */

#logo {
  width: var(--size-12);
}
header {
  background-color: var(--blue-1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav {
}

#nav-items {
  display: flex;
}

.nav-item {
  margin-inline: var(--size-3);
}

.nav-item a {
  font-weight: var(--font-weight-6);
  padding-block: var(--size-1);
  padding-inline: var(--size-5);
  color: var(--indigo-10);
}

.nav-item a:hover {
  background-color: var(--stone-1);
  border-radius: var(--radius-3);
}
